@import url('https://fonts.googleapis.com/css2?family=Poppins');
.logo {
    width: 246px;
    height: 40px;
}

.titulo_prenda {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}

.precio_prenda {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
}

.btn_negro {
    width: 424px;
    height: 56px;
    border-radius: 4px;
    padding: 16px, 10px, 16px, 10px;
    background: #1D1D1D;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.btn_azul {
    width: 424px;
    height: 56px;
    border-radius: 4px;
    padding: 16px, 10px, 16px, 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    color: #FFFFFF;
    background: #4276FB;
}

header {
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 82px;
    left: 0px;
    top: 0px;
    z-index: 100;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #1D1D1D;
}

main {
    margin-top: 70px;
}

.img_detalle_producto {
    position: static;
    width: 80px;
    height: 120px;
    left: 0px;
    top: 144px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.detalle_producto_imgs {
    margin-left: 83px;
}

.img_detalle_producto_grande {
    margin-right: 110px;
}

.information_producto {
    width: 424px;
    height: 752px;
    left: 859px;
    top: 174px;
}

.footer {
    text-align: center;
}

.talla {
    width: 275px;
    height: 104px;
}

.titulo_ver_mas {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 80px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #1D1D1D;
    margin-top: 250px;
    margin-bottom: 64px;
}

.ver_mas {
    width: 1132px;
    height: 611px;
    margin-left: 83px;
    margin-right: 151px;
}

.img_ver_mas {
    width: 340px;
    height: 511px;
}

.cover {
    margin-top: 250px;
    margin-bottom: 64px;
}

.footer {
    width: 1366px;
    height: 320px;
    left: 0px;
    top: 5087.32px;
    background: #1D1D1D;
}

.logo-1 {
    padding: 64px 483px 48px 484px;
}

.redes_sociales {
    width: 152px;
    height: 64px;
    margin-left: 560px;
}

.login {
    margin-left: 360px;
}

.carrito {
    margin-right: 83px;
}
.shop{
    margin-left: 250px;
}